.hotgrid-audio-component {

	.hotgrid-widget {
		// Font size set to 0 so there's no gap between items
		font-size: 0;
		position: relative;
		text-align: center;
	}

	.hotgrid-grid-inner {
		padding-top: @component-padding / 2;

		@media all and (max-width:(@device-width-medium - 1px)) {
      padding-top: 0;
    }
	}

	.hotgrid-grid-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		padding: @component-padding / 2;

		@media all and (max-width:(@device-width-medium - 1px)) {
      padding: (@component-padding / 2) 0 0 0;
    }

		&.visited {
			.hotgrid-item-states-image {
				> img {
    			display: none;
    		}
    		img.hotgrid-item-image-hover {
    			display: none !important;
    		}
    		img.hotgrid-item-image-visited {
    			display: block !important;
    		}
			}
		}
	}

	.hotgrid-item-image {
		display: block;
		width: 100%;

		img {
			display: block;
			transition: all 0.25s;
		}

		&.hotgrid-item-states-image {
      img.hotgrid-item-image-hover {
				display: none;
			}

			img.hotgrid-item-image-visited {
				display: none;
			}

			.no-touch &:hover {
        > img {
					display:none;
    		}
    		img.hotgrid-item-image-hover {
    			display: block;
    		}
    		img.hotgrid-item-image-visited {
    			display: none;
    		}
			}
		}
	}

	.hotgrid-item-title {
		font-size: @body-text-font-size;
	}

	.hotgrid-popup {
		display: none;
	  position: fixed;
	  width:100%;
	  z-index: 550;
	  background-color: @notify-color;
	  color: @notify-text-color;
		left: 0;

		a {
			text-decoration: none;
		}

		&.large {
			display: block;
			top: 50%;
		}

		&.small {
			display: block;
			height: 100%;
			top: 0;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		@media all and (min-width: @device-width-medium) {
			max-width: @device-width-medium;
	    left: 50%;
	    margin-left: -(@device-width-medium / 2);
	    border-radius: 8px;
		}
	}

	.hotgrid-popup-inner {
		position: relative;
	  margin: auto;
	  padding: @notify-padding;
	  padding-bottom: @notify-padding - @button-padding-bottom;
	}

	.hotgrid-popup-content {
		.ie8 & {
			max-width: @ie8-max-width;
	    margin:0 auto;
		}
	}

	.hotgrid-popup-content-inner {
		position:relative;
		padding-left: 0px;

		.dir-rtl & {
			padding-left: inherit;
	    padding-right: 0px;
	  }

		@media all and (max-width:(@device-width-medium - 1px)) {
			padding-left: 0px;

			.dir-rtl & {
				padding-left: inherit;
				padding-right: 0px;
	    }
	   }
	  }

		.hotgrid-popup-item {
			display: none;
		}

		.hotgrid-popup-title {
			margin-bottom: @notify-title-padding-bottom;
	    .item-title;
	    text-align: center;
	    font-size: @component-title-font-size;
		}

		.hotgrid-popup-body {
			padding-bottom: @notify-padding-bottom;
			font-size: @body-text-font-size;
			float: left;
			text-align: left;
			.dir-rtl & {
				float: right;
				text-align: right;
			}
			width: 60%;
			overflow: hidden;

	    @media (max-width: @device-width-medium) {
				width: 100%;
				padding-bottom: (@notify-padding-bottom / 3);
			}

			&.fullwidth {
				width: 100%;
			}

		}

		.hotgrid-popup-graphic {
			float: right;
	    padding-bottom: @button-padding-bottom;
	    width: 38%;
	    margin-left: 2%;

			.dir-rtl & {
				float: left;
	      margin-left: 0px;
	      margin-right: 2%;
	    }

	    @media (max-width: @device-width-medium) {
	      float: none;
	      margin-left: 0;
	      width: 100%;
			}

			&.fullwidth {
				width: 100%;
				margin-left: 0px;
			}

			&.hidden {
	      display: none;
	    }
		}

		.hotgrid-popup-buttons {
			text-align: center;
	    clear: both;
		}

		.hotgrid-popup-close {
			background-color: @notify-button-color;
	    color: @notify-button-text-color;
	    padding: @button-padding-top @button-padding-right+10 @button-padding-bottom @button-padding-left+10;
	    margin-bottom: @button-padding-bottom;
	    text-decoration: none;
	    display:inline-block;
	    border: none;
	    min-width: 100px;
	    .transition-all-colors;
	    .button-text;
	    .no-touch &:hover {
				background-color: @notify-button-color-hover;
	      color: @notify-button-text-color-hover;
			}
		}

		.hotgrid-popup-navigation {
			padding-top: @button-padding-top;
	    clear: both;
		}

		.hotgrid-popup-arrow {
			display: block;
	    width: (@icon-size*2);
	    height: (@icon-size*2);
	    position: absolute;
	    text-decoration: none;
	    background-color: @item-color;
			visibility: hidden;
	    .no-touch &:hover {
				background-color: @item-color-hover;
	      .icon {
					color: @item-text-color-hover;
	      }
			}
	    .icon {
				margin: (@icon-size/2);
	      color: @item-text-color;
			}
		}

	  .hotgrid-popup-back {
	    visibility: hidden;
	    left: 0;
	    .dir-rtl & {
				left: inherit;
				right: 0;
			}
		}

		.hotgrid-popup-next {
			visibility: hidden;
	    right: 0;
	    .dir-rtl & {
				right: inherit;
				left: 0;
			}
		}
}
