.hotgrid-audio {

	.hotgrid__widget {
		// Font size set to 0 so there's no gap between items
		font-size: 0;
		position: relative;
		text-align: center;
	}

	.hotgrid-grid-inner {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		padding-top: @item-title-margin / 2;
	}

	.hotgrid-grid-listitem {
		width: 50%;
	}

	.hotgrid-grid-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;
		background-color: transparent;

		.button-text;

		&.hotgrid-item-states-css {
			.hotgrid-item-image {
				border: 3px solid @item-color;
			}

			.no-touch &:hover {
				.hotgrid-item-image {
					border: 3px solid @item-color-hover;
				}
			}

			&.is-visited {
				.hotgrid-item-image {
					border: 3px solid @visited;
				}
			}
		}

		&.hotgrid-item-states-image {
      img.hotgrid-item-image-hover {
				display: none;
			}
			img.hotgrid-item-image-visited {
				display: none;
			}

			.no-touch &:hover {
        img.hotgrid-item-image-default {
					display: none;
    		}
    		img.hotgrid-item-image-hover {
    			display: block;
    		}
    		img.hotgrid-item-image-visited {
    			display: none;
    		}
			}

			&.is-visited {
				img.hotgrid-item-image-default {
	    		display: none !important;
	    	}
	    	img.hotgrid-item-image-hover {
	    		display: none !important;
	    	}
	    	img.hotgrid-item-image-visited {
	    		display: block !important;
				}
			}
		}
	}

	.hotgrid-item-image {
		display: block;
		margin: 2%;
    width: 95%;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition: all 0.25s;
		}
	}

	.hotgrid-item-title {
		text-align: center;
		color: @font-color;
		font-weight: @font-weight-bold;
		padding: @item-title-margin/2;
	}

	&.item-titles {
		.hotgrid-grid-item {
			.hotgrid-item-title {
				color: @item-color-inverted;
				background-color: @item-color;
				font-weight: @font-weight-bold;
			}

			.no-touch & {
				&:hover {
					.hotgrid-item-title {
						color: @item-color-inverted-hover;
						background-color: @item-color-hover;
					}
				}
			}

			&.is-visited {
				.hotgrid-item-title {
					color: @visited-inverted;
					background-color: @visited;
				}
			}
		}
	}
}

.hotgrid-audio-popup {

	.hotgrid-item:not(.is-active) {
    display: none;
	}

	.hotgrid-popup-body {
		padding-bottom: @notify-padding-ver;

		float: left;
		.dir-rtl & {
			float: right;
		}

		width: 60%;
		overflow: hidden;

		@media (max-width: @device-width-medium) {
			width: 100%;
		}

		&.is-fullwidth {
			width: 100%;
		}
	}

	.hotgrid-popup-graphic {
		float: right;
		width: 38%;
		margin-left: 2%;

		.dir-rtl & {
			float: left;
			margin-left: 0px;
			margin-right: 2%;
		}

		@media (max-width: @device-width-medium) {
			float: none;
			margin-left: 0;
			width: 100%;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		&.is-fullwidth {
			width: 100%;
			margin-left: 0px;
		}

		&.is-hidden {
			display: none;
		}
	}

	.hotgrid-popup-nav {
		position: relative;
		margin-top: @btn-margin;
		clear: both;
	}

	.hotgrid-popup-controls {
		position: absolute;
    border-radius: @btn-border-radius;

		padding: @btn-padding / 2;
    background-color: @notify-icon;
    color: @notify-icon-inverted;

    .no-touch &:hover {
      background-color: @notify-icon-hover;
      color: @notify-icon-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }

		&.is-disabled {
			visibility: hidden;
    }
	}

	.back {
	  left: 0;
	  .dir-rtl & {
			left: inherit;
			right: 0;
		}
	}

	.next {
	  right: 0;
	  .dir-rtl & {
			right: inherit;
			left: 0;
		}
	}
}
