.hotgrid-audio-component {

	.hotgrid-widget {
		// Font size set to 0 so there's no gap between items
		font-size: 0;
		position: relative;
		text-align: center;
	}

	.hotgrid-grid-inner {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		padding-top: @component-padding / 2;
	}

	.hotgrid-grid-listitem {
		width: 50%;
	}

	.hotgrid-grid-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;

		&.hotgrid-item-states-css {
			.hotgrid-item-image {
				border: 3px solid @item-color;
			}

			.no-touch &:hover {
				.hotgrid-item-image {
					border: 3px solid @item-color-hover;
				}
			}

			&.visited {
				.hotgrid-item-image {
					border: 3px solid @item-color-visited;
				}
			}
		}

		&.hotgrid-item-states-image {
      img.hotgrid-item-image-hover {
				display: none;
			}
			img.hotgrid-item-image-visited {
				display: none;
			}

			.no-touch &:hover {
        img.hotgrid-item-image-default {
					display: none;
    		}
    		img.hotgrid-item-image-hover {
    			display: block;
    		}
    		img.hotgrid-item-image-visited {
    			display: none;
    		}
			}

			&.visited {
				img.hotgrid-item-image-default {
	    		display: none !important;
	    	}
	    	img.hotgrid-item-image-hover {
	    		display: none !important;
	    	}
	    	img.hotgrid-item-image-visited {
	    		display: block !important;
				}
			}
		}
	}

	.hotgrid-item-image {
		display: block;
		margin: 2%;
    width: 95%;

		img {
			display: block;
			transition: all 0.25s;
		}
	}

	.hotgrid-item-title {
		text-align: center;
		color: @font-color;
		font-size: @body-text-font-size;
		padding: @component-padding/2;
	}

	&.item-titles {
		.hotgrid-grid-item {
			.hotgrid-item-title {
				color: @item-text-color;
				background-color: @item-color;
				font-weight: @font-weight-bold;
			}

			.no-touch & {
				&:hover {
					.hotgrid-item-title {
						color: @item-text-color-hover;
						background-color: @item-color-hover;
					}
				}
			}

			&.visited {
				.hotgrid-item-title {
					color: @item-text-color-visited;
					background-color: @item-color-visited;
				}
			}
		}
	}
}

.hotgrid-audio-popup {

	.hotgrid-item:not(.active) {
    display: none;
	}

	.notify-popup-title {
    text-align: center;
    padding-right: 0 !important;
  }

	.notify-popup-buttons {
		margin-top: 0 !important;
	}

	.hotgrid-popup-body {
		padding-bottom: @notify-padding-bottom;
		font-size: @body-text-font-size;
		float: left;
		text-align: left;
		.dir-rtl & {
			float: right;
			text-align: right;
		}
		width: 60%;
		overflow: hidden;

		@media (max-width: @device-width-medium) {
			width: 100%;
			padding-bottom: (@notify-padding-bottom / 3);
		}

		&.fullwidth {
			width: 100%;
		}
	}

	.hotgrid-popup-graphic {
		float: right;
		padding-bottom: @button-padding-bottom;
		width: 38%;
		margin-left: 2%;

		.dir-rtl & {
			float: left;
			margin-left: 0px;
			margin-right: 2%;
		}

		@media (max-width: @device-width-medium) {
			float: none;
			margin-left: 0;
			width: 100%;
		}

		&.fullwidth {
			width: 100%;
			margin-left: 0px;
		}

		&.hidden {
			display: none;
		}
	}

	.hotgrid-popup-nav {
		margin-top: @button-margin-top;
		clear: both;
	}

	.hotgrid-popup-controls {
		display: block;
	  width: (@icon-size*2);
	  height: (@icon-size*2);
	  position: absolute;
	  text-decoration: none;
	  background-color: @notify-button-color;

		.icon {
			margin: (@icon-size/2);
	    color: @notify-button-text-color;
		}

	  .no-touch &:hover {
			background-color: @notify-button-color-hover;
	    .icon {
				color: @notify-button-text-color-hover;
	    }
		}

		&.disabled {
			visibility: hidden;
    }
	}

	.back {
	  left: 0;
	  .dir-rtl & {
			left: inherit;
			right: 0;
		}
	}

	.next {
	  right: 0;
	  .dir-rtl & {
			right: inherit;
			left: 0;
		}
	}
}
